<% provide(:title, "cart") %>
<div class="main-wrapper">

  <!-- HEADER -->
  <div class="header clearfix">

    <!-- TOPBAR -->
    <div class="topBar">
      <div class="container">
        <div class="row">
          <div class="col-md-6 hidden-sm hidden-xs">
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
              <li><a href="#"><i class="fa fa-tumblr"></i></a></li> -->
            </ul>
          </div>
          <div class="col-md-6 col-xs-12">
            <ul class="list-inline pull-right">
              <li><span><a data-toggle="modal" href='#login'>Log in</a><small>or</small><a data-toggle="modal" href='#signup'>Create an account</a></span></li>
              <li class="dropdown searchBox">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <span class="input-group">
                      <input type="text" class="form-control" placeholder="Search…" aria-describedby="basic-addon2">
                      <span class="input-group-addon" id="basic-addon2">Search</span>
                    </span>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>Item(s) in your cart</li>
                  <li>
                    <a href="#">
                      <div class="media">
                        <%= image_tag("img/home/cart-items/cart-item-01.jpg", :class => "media-left media-object", :alt => "cart-Image") %>
                        <div class="media-body">
                          <h5 class="media-heading">INCIDIDUNT UT <br><span>2 X $199</span></h5>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="media">
                        <%= image_tag("img/home/cart-items/cart-item-01.jpg", :class => "media-left media-object", :alt => "cart-Image") %>
                        <div class="media-body">
                          <h5 class="media-heading">INCIDIDUNT UT <br><span>2 X $199</span></h5>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <div class="btn-group" role="group" aria-label="...">
                      <button type="button" class="btn btn-default">Shopping Cart</button>
                      <button type="button" class="btn btn-default">Checkout</button>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- NAVBAR -->
    <nav class="navbar navbar-main navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><%= image_tag("img/logo.png", :alt => "") %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li class="dropdown megaDropMenu active">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Shop</a>
              <!-- <ul class="dropdown-menu row">
                <li class="col-sm-3 col-xs-12">
                  <ul class="list-unstyled">
                    <li>Products Grid View</li>
                    <li><a href="product_grid_left_sidebar.html">Products Sidebar Left</a></li>
                    <li><a href="product-grid-right-sidebar.html">Products Sidebar Right</a></li>
                    <li><a href="product-grid-3-col-filter.html">Products 3 Columns V1</a></li>
                    <li><a href="product-grid-3-col.html">Products 3 Columns V2</a></li>
                    <li><a href="product-grid-4-col.html">Products 4 Columns</a></li>
                  </ul>
                </li>
                <li class="col-sm-3 col-xs-12">
                  <ul class="list-unstyled">
                    <li>Products List View</li>
                    <li><a href="product_list_left_sidebar.html">Products Sidebar Left</a></li>
                    <li><a href="product-list-right-sidebar.html">Products Sidebar Right</a></li>
                    <li class="listHeading">Others</li>
                    <li><a href="single-product.html">Single Product</a></li>
                    <li class="active"><a href="cart_page.html">Cart Page</a></li>
                  </ul>
                </li>
                <li class="col-sm-3 col-xs-12">
                  <ul class="list-unstyled">
                    <li>Checkout</li>
                    <li><a href="checkout_step_1.html">Step 1 - Address</a></li>
                    <li><a href="checkout_step_2.html">Step 2 - Shipping</a></li>
                    <li><a href="checkout_step_3.html">Step 3 - Payment</a></li>
                    <li><a href="checkout_step_4.html">Step 4 - Payment</a></li>
                    <li><a href="checkout_complete.html">Order Complete</a></li>
                  </ul>
                </li>
                <li class="col-sm-3 col-xs-12">
                  <a href="#" class="menu-photo"><%= image_tag("img/menu-photo.jpg", :alt => "menu-img") %></a>
                </li>
              </ul> -->
            </li>
            <!-- <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages</a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="signup.html">Register</a></li>
                <li><a href="signup-login.html">Register or Login</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="lost-password.html">Password Recovery</a></li>
                <li><a href="privacy_policy.html">Privacy Policy</a></li>
                <li><a href="terms-and-conditions.html">Terms &amp; Conditions</a></li>
                <li><a href="404.html">404 Not Found</a></li>
                <li><a href="coming-soon.html">Coming Soon</a></li>
              </ul>
            </li> -->
            <!-- <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">blog</a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="blog_right_sidebar.html">Right Sidebar</a></li>
                <li><a href="blog_left_sidebar.html">Left Sidebar</a></li>
                <li><a href="blog-fullwidth.html">Full Width</a></li>
                <li><a href="blog-single-fullwidth.html">Single Post</a></li>
                <li><a href="blog_single_right_sidebar.html">Single Right Sidebar</a></li>
                <li><a href="blog_single_left_sidebar.html">Single Left Sidebar</a></li>
              </ul>
            </li> -->
            <!-- <li class="dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="account-dashboard.html">Dashboard</a></li>
                <li><a href="account-profile.html">Profile</a></li>
                <li><a href="account-all-orders.html">All Orders</a></li>
                <li><a href="account-single-order.html">Single Order</a></li>
                <li><a href="account-wishlist.html">Wishlist</a></li>
                <li><a href="account-address.html">Address</a></li>
              </ul>
            </li> -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

  </div>

  <!-- LIGHT SECTION -->
  <section class="lightSection clearfix pageHeaderImage">
    <div class="container">
      <div class="tableBlock">
        <div class="row tableInner">
          <div class="col-xs-12">
            <div class="page-title">
              <h2>cart</h2>
              <ol class="breadcrumb">
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li class="active">cart</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix cartListWrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="cartListInner">
            <form action="#">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>商品名</th>
                      <th>価格</th>
                      <th>数</th>
                      <th>小計</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-xs-2">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class="cartImage"><%= image_tag("img/products/cart-image.jpg", :alt => "image") %></span>
                      </td>
                      <td class="col-xs-4">Italian Winter Hat</td>
                      <td class="col-xs-2">99円</td>
                      <td class="col-xs-2"><input type="text" placeholder="1"></td>
                      <td class="col-xs-2">99円</td>
                    </tr>
                    <tr>
                      <td class="col-xs-2">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class="cartImage"><%= image_tag("img/products/cart-image.jpg", :alt => "image") %></span>
                      </td>
                      <td class="col-xs-4">Italian Winter Hat</td>
                      <td class="col-xs-2">99円</td>
                      <td class="col-xs-2"><input type="text" placeholder="1"></td>
                      <td class="col-xs-2">99円</td>
                    </tr>
                    <tr>
                      <td class="col-xs-2">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class="cartImage"><%= image_tag("img/products/cart-image.jpg", :alt => "image") %></span>
                      </td>
                      <td class="col-xs-4">Italian Winter Hat</td>
                      <td class="col-xs-2">99円</td>
                      <td class="col-xs-2"><input type="text" placeholder="1"></td>
                      <td class="col-xs-2">99円</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="updateArea">
               <!--  <div class="input-group">
                  <input type="text" class="form-control" placeholder="I have a discount coupon" aria-describedby="basic-addon2">
                  <a href="#" class="btn input-group-addon" id="basic-addon2">apply coupon</a>
                </div> -->
                <a href="#" class="btn">アップデート</a>
              </div>
              <div class="totalAmountArea">
                <div class="col-sm-4 col-sm-offset-8 col-xs-12">
                  <ul class="list-unstyled">
                    <li>小計 <span>792円</span></li>
                    <li>消費税 <span>18円</span></li>
                    <li>総計 <span class="grandTotal">810円</span></li>
                  </ul>
                </div>
              </div>
              <div class="checkBtnArea">
                <a href="checkout_step_1.html" class="btn btn-primary btn-block">購入する<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
