<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render 'light_section', taxon: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render 'side_bar', taxonomies: @taxonomies %>
        <%= render 'categolized_items', products: @products %>
      </div>
    </div>
  </section>
  <%= render 'partners_logos' %>
</div>
