<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/modals' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
